<form class="ui large form segment" [formGroup]='_wishlist' (ngSubmit)='onSubmit()'> 
    <h3 class="ui header">Make a new wishlist</h3>
    <div class="field">
      <label for="name_id">Name:</label> 
      <input type='text' id="name_id" formControlName='name'>
    </div>
    <div *ngIf='_wishlist.get("name").errors?.required
      && _wishlist.get("name").touched' class='ui pointing red basic label'>
      error! this is required
    </div>

    <div formArrayName='wishlistItems' *ngFor='let item of _wishlist.get("wishlistItems").controls;
           let i = index'>
      <div [formGroupName] = 'i'>
        <label for="wishlistItem_name">wishlistItem: </label>
        <div>                                 
            <input type="text" id="wishlistItem_name" formControlName='name'>
        </div>
      </div>
    </div>


    <button type='submit' >add </button>
  </form>	

  <!--
REMOVE {{_wishlist.value | json}} {{_wishlist.valid}}
{{spy.className}}

{{_wishlist.get("name").errors | json}}
  -->