<form [formGroup]='user' (ngSubmit)='onSubmit()' class="ui large form segment">
    <h3 class="ui header">Register new user</h3>
    <div class="input-group">
      <label class="input-group-addon" for="username">Username</label>
      <input class="form-control" type="text" id="username" formControlName='username' #spy>
    </div>
    <div formGroupName='passwordGroup'>
        <div class="input-group">
        <label class="input-group-addon" for="password">Password</label>
        <input class="form-control" type="password" id="password" formControlName='password'>
      </div>
        <div class="input-group">
        <label class="input-group-addon" for="confirmpassword">Confirm password</label>
        <input class="form-control" type="password" id="confirmpassword" formControlName='confirmPassword'>
      </div>
     
    </div>
    <button type='submit' [disabled]='!user.valid' class="btn btn-success">Register</button>
    <div class='alert alert-warning' *ngIf=' user.get("username").errors?.required && user.get("username").touched'>
        a username is required
      </div>
      <div class='alert alert-warning' *ngIf='user.get("username").errors?.minlength && user.get("username").touched'>
        the username should be at least {{user.get("username").errors?.minlength.requiredLength }} letters
      </div>
      <div class='alert alert-warning' *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
        a user with that name already exists
      </div>
      <div class='alert alert-warning' *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
          password too short, please use at least {{passwordControl.errors?.passwordTooShort.requiredLength}} letters (got {{passwordControl.errors?.passwordTooShort.actualLength}})
      </div>
      <div class='alert alert-warning' *ngIf=' user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched  && user.get("passwordGroup").get("password").touched'>
            the two passwords should be the same
      </div>
  </form>


  