<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div>
    <ul>
        <li *ngFor="let wishlist of _wishlist | async">
           <app-wishlist [wishlist]="wishlist"></app-wishlist>
        </li>
    </ul>
    

      <ul>
        <li *ngFor="let wishlistItem of _wishlist.wishlistItems | async">
          <app-wishlist-item [wishlistItem]= "wishlistItem"></app-wishlist-item>
        </li>
      </ul>
      
      <app-add-wishlist-item (newWishlistItem)="newWishlistItemAdded($event)"></app-add-wishlist-item>
      
      
  </div>

</div>