<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div>
    <ul>
        <app-add-wishlist (newWishlist)="newWishlistAdded($event)"></app-add-wishlist>
        
      
      <li *ngFor="let wishlist of _wishlist">
          <app-wishlist [wishlist]="wishlist" (deleteWishlist)='removeWishlist($event)'></app-wishlist>
          


          <app-add-wishlist-item (newWishlistItem)="newWishlistItemAdded($event)"></app-add-wishlist-item>  
          
          <ul>
              <li *ngFor="let wishlistItem of wishlist.wishlistItems">
                <app-wishlist-item [wishlistItem]= "wishlistItem"></app-wishlist-item>
              </li>
            </ul>
      </li>
      
    </ul>

    
    

     
      
      
      
  </div>

</div>