<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div>

    <div class="ui container">
      <div class="ui two item menu">
          <a class='item' routerLinkActive='active' routerLink="/wishlist/5a26f1dc33acfa3478ccb963">detail</a>
          
        <a class='item' routerLinkActive='active' routerLink="/wishlist/list">Wishlists</a>
        <a class='item' routerLinkActive='active' routerLink="/wishlist/add">Add Wishlist</a>

        
      </div>
    <router-outlet></router-outlet>
    </div>


  </div>
</div>