<form [formGroup]='user' (ngSubmit)='onSubmit()' class="ui large form segment">
    <h3 class="ui header">Login</h3>
    <div class="input-group">
        
      <label class="input-group-addon" for="username">Username</label>
      <input class="form-control" type="text" id="username" formControlName='username'>
    </div>
    <div class="input-group">
      <label class="input-group-addon" for="password">Password</label>
      <input class="form-control" type="password" id="password" formControlName='password'>
    </div>
    <div>
    <button type='submit' [disabled]='!user.valid' class="btn btn-success">log in</button>
    Not a user yet? -> 
    <a class='item' routerLink="/register" >register now!</a>
  </div>
  <div *ngIf='errorMsg' class='alert alert-warning'>{{errorMsg}}</div>
  
  </form>
   
   
   